<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ipae.bicentenariolalibertad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".Activitys.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activitys.LoginActivity" />
        <activity android:name=".Activitys.RegisterActivity" />
        <activity android:name=".Activitys.MenuActivity" />
        <activity android:name=".Activitys.AmautasActivity" />
        <activity android:name=".Activitys.TestActivity" />
        <activity android:name=".Activitys.ComodinActivity" />
        <activity android:name=".Activitys.SettingActivity" />
        <activity android:name=".Activitys.GameActivity" />
        <activity android:name=".Activitys.DiaryActivity" />
        <activity android:name=".Activitys.ResetPasswordActivity" />


    </application>

</manifest>